header {
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /* Deixa o logo acima dos menus */
    align-items: center;
    padding: 2px 3%;
    box-shadow: 0px 15px 16px -7px rgba(0, 0, 0, 0, 1);

    .logo {
      img {
        width: 300px;
        height: 100%;
        object-fit: cover;
      }
    }

    .nav-items {
      display: flex;
      gap: 32px;
      align-items: center;
      list-style: none;
      padding: 20px;

      &.open {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px;
        list-style: none;
      }
    }

    .btn-default {
      border-radius: 24px;
      padding: 10px 22px;
      cursor: pointer;
      border: none;
      font-family: inherit;
      font-weight: 500;
      transition: all 0.3s;
    }

    .btn-mobile {
      display: none;
      background-color: transparent;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
    @media screen and (max-width: 768px) {
      .navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }

      .btn-mobile {
        display: block;
      }
      .nav-items {
        display: none;

        &.open {
          display: flex;
        }
      }
      .btn-default {
        display: none;
      }
    }
  }
}
